name: Daily Image Update

on:
  workflow_dispatch: # 수동 실행 버튼
  schedule:
    - cron: '0 15 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    # 아래 permissions 부분이 없어서 128 에러가 났던 것입니다.
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Generator
        run: python app.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add images/today_summary.png
          git commit -m "Update Daily AI Image" || exit 0
          git push
